@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes wave {
  0% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%); }
  50% {
    clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%); }
  100% {
    clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%); } }

@keyframes rotating {
  0% {
    transform: scale(0.92) rotate(0deg); }
  100% {
    transform: scale(0.92) rotate(360deg); } }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important; }

.border {
  width: 100%;
  height: 20vh;
  margin-top: -1px;
  clip-path: polygon(100% 0%, 0% 0%, 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%); }
  .border--about {
    background-color: #194350; }
  .border--skills {
    background-color: #ff8882; }
  .border--projects {
    background-color: #3b3636; }
  .border--experience {
    background-color: #194350; }
  .border--hobby {
    background-color: #ff8882; }
  .border--contact {
    background-color: #3b3636; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

a:link, a:hover, a:visited {
  color: #194350;
  text-decoration: none; }

.heading-primary--main {
  display: block;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 1rem;
  color: #ff8882;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out; }

.heading-primary--sub {
  color: #3b3636;
  display: block;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-out;
  margin-top: 3rem; }

.heading-secondary {
  font-size: 5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.5rem;
  color: #194350; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-about {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: #194350; }

.heading-skills {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: #194350;
  text-align: center; }

.heading-tools {
  margin-top: 3rem;
  margin-bottom: 5rem;
  color: #194350; }

.heading-projects {
  margin-top: 10rem;
  margin-bottom: 13rem;
  color: #3b3636; }

.paragraph {
  font-size: 2rem;
  color: #194350;
  text-transform: none; }
  .paragraph:not(:last-child) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .paragraph--contact {
    font-size: 1.8rem; }
  .paragraph--clip3 {
    width: 80%;
    font-size: 1.8rem;
    margin-top: 1rem; }

.span--contact {
  margin-left: 1rem; }

.emphasis {
  color: #eee; }

.skill-stack-list {
  font-size: 30px;
  color: #df5e5e;
  margin: 0px; }

.heading-experience {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: #194350; }

.heading-hobby {
  margin-top: 10rem;
  margin-bottom: 3rem;
  color: #194350; }

.heading-contact {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: #3b3636; }

.contact__title {
  font-size: 2.5rem;
  margin: 2.3rem 0rem 1rem; }
  .contact__title--left {
    color: #ff8882; }
  .contact__title--right {
    color: #3b3636;
    font-size: 3rem; }

.contact__icon {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem; }
  .contact__icon--social {
    margin: 0 1rem;
    width: 3.5rem;
    height: 3.5rem; }

::-webkit-input-placeholder {
  color: white; }

::-moz-placeholder {
  color: white; }

:-ms-input-placeholder {
  color: white; }

:-moz-placeholder {
  color: white; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-ex-small {
  margin-bottom: 0.5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-padding-top-tiny {
  padding-top: 1.6rem; }

.u-padding-top-small {
  padding-top: 2rem; }

.u-padding-top-medium {
  padding-top: 4rem; }

.u-padding-top-large {
  padding-top: 8rem; }

.u-padding-top-huge {
  padding-top: 12rem; }

.btn {
  z-index: 10;
  width: 40%;
  height: 50px;
  text-align: center;
  padding-top: 9px; }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    margin: 3rem 2rem 0;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    z-index: 10; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    background-color: white; }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: white; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: white; }
  .btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards; }
  .btn__project {
    width: 100%;
    margin-top: 1rem;
    background-color: pink;
    color: #777; }
    .btn__project::after {
      background-color: pink; }
  .btn--card {
    width: 6rem;
    height: 6rem;
    background-color: pink;
    border-radius: 50%;
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 1.5rem 0.5rem; }
  .btn--submit {
    width: 100%;
    height: 4rem;
    text-align: center;
    border-radius: 1.7rem;
    background-color: white;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 0%;
    padding-bottom: 5px; }
  .btn__clip--3 {
    display: block;
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    border: none;
    border-radius: 25px; }

.card {
  position: relative;
  height: 41vh;
  width: 25%;
  padding: 2rem 4rem;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  display: inline-block;
  background-color: white; }
  .card__imgbox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-30%); }
  .card__img {
    width: 100%;
    border-radius: 10px;
    z-index: 1;
    background-color: #ff8882;
    padding-bottom: 2rem; }
    .card__img--ecom {
      width: 100%;
      height: 26rem;
      padding-top: 3rem;
      padding-bottom: 1rem; }
  .card__content {
    width: 100%;
    padding: 0.5rem 0rem;
    text-align: center;
    color: #f7f7f7;
    transform: translateY(40rem);
    opacity: 0; }
    .card__content--title {
      font-size: 3rem;
      color: black;
      margin: 1rem auto;
      text-align: center; }
  .card:hover {
    height: 43rem; }
  .card:hover .card__content {
    opacity: 1;
    transform: translateY(-18rem); }
  .card__side {
    color: white;
    height: 90rem;
    transition: all 0.8s ease;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: inline-block; }
    .card__side--front {
      background-color: #ff8882;
      border-radius: 20px; }
  .card__picture--1 {
    width: 25rem;
    height: 25rem;
    margin: 2rem auto;
    display: block; }
  .card__picture--2 {
    width: 35rem;
    height: 25rem;
    margin: 3rem auto -1rem;
    display: block; }
  .card__heading {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #3b3636; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .card__description {
    font-size: 3rem;
    padding: 1rem 8rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
    .card__description--1 {
      font-size: 1.5rem;
      padding: 1rem 8rem;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      color: black;
      width: 100%;
      margin: 1rem 0;
      padding: 0px;
      text-align: left; }
  .card__ul {
    list-style-type: none;
    margin: 0 auto;
    width: 60%;
    padding: 0; }
  .card__list {
    font-size: 3rem; }
  .card__cta {
    width: 80%;
    margin: 0 auto;
    text-align: center; }

.clip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s; }
  .clip--1 {
    background-color: lightgray;
    clip-path: polygon(0 0, 25% 0, 49% 100%, 0% 100%); }
  .clip--2 {
    background: url(../img/camping.jpg);
    background-size: cover;
    background-position: center bottom;
    clip-path: polygon(17% 0, 81% 0, 59% 100%, 36% 100%);
    background-repeat: repeat-y; }
  .clip--3 {
    background: url(../img/arduino-3.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(79% 0, 100% 0, 100% 100%, 59% 100%); }
  .clip__container--2 {
    width: 45%;
    height: 60%;
    margin-top: 180px;
    margin-left: 9rem; }
  .clip__container--3 {
    width: 50%;
    height: 80%;
    margin-left: 7rem;
    margin-top: 4rem; }
  .clip__title--2 {
    color: white;
    font-size: 3.3rem;
    padding-left: 5rem;
    margin-top: 0;
    margin-bottom: 0; }
    .clip__title--2--center {
      padding-left: 20%;
      font-size: 2.5rem;
      margin-top: 0;
      margin-bottom: 0; }
  .clip__title--3 {
    color: #194350;
    font-size: 3.3rem;
    margin-bottom: 0rem;
    padding-bottom: 0; }
  .clip__img {
    height: 18rem;
    margin-right: 2rem;
    margin-top: 5rem; }
    .clip__img--smp {
      width: 20rem; }
    .clip__img--smf {
      width: 22rem; }

.section-hobby__container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%); }

.section-hobby__container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

.popup {
  height: 100vh;
  width: 70%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #777;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block; }
  .popup__close:hover {
    color: #194350; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 90rem;
    background-color: #3b3636;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    padding-top: 8rem;
    padding-bottom: 10rem; }
  .popup__top {
    width: 80%;
    display: block; }
    .popup__top--title-box {
      width: 50%;
      display: inline;
      text-align: left;
      padding-left: 10rem; }
    .popup__top--btn-box {
      width: 50%;
      display: inline;
      text-align: right;
      margin-left: 30%; }
  .popup__left {
    width: 55%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10rem; }
  .popup__right {
    width: 45%;
    display: table-cell;
    vertical-align: middle; }
  .popup__img {
    display: block;
    width: 100%;
    height: 40vh; }
  .popup__title--main {
    font-size: 3rem;
    display: inline-block;
    margin-top: 0px; }
  .popup__title--sub {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    margin-top: 0px; }
  .popup__title--tertiary {
    font-size: 3rem; }
  .popup__skills-list {
    font-size: 2rem;
    color: #df5e5e;
    margin-top: -2rem; }
  .popup__text {
    font-size: 2rem;
    padding-right: 5rem;
    margin-top: -1.5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto; }
  .popup__function--li {
    margin-top: -1.5rem;
    font-size: 2.5rem;
    line-height: 5.5rem; }
  .popup__videobox {
    display: inline-block;
    margin-right: 3rem; }
  .popup__video {
    width: 400px;
    height: 200px;
    margin-top: -2rem; }
  .popup__btn {
    font-size: 2rem;
    text-decoration: none;
    background-color: #83d4d8;
    border-radius: 30px;
    margin: 1rem;
    padding: 1rem 4rem; }

.row {
  max-width: 200rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 8rem) / 3);
    float: left; }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 8rem) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 8rem) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem); }

.header {
  height: 100vh;
  background-color: #194350;
  position: relative;
  text-align: center; }
  .header__text-box {
    position: absolute;
    width: 100%;
    top: 10%;
    text-align: center;
    font-size: 40px; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #3b3636;
  height: 10rem;
  width: 10rem;
  position: fixed;
  top: 7rem;
  right: 7rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  position: fixed;
  top: 8rem;
  right: 8rem;
  background-color: black;
  z-index: 1000;
  transition: 0.5s; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 20%;
  left: 45%;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.5s; }

.navigation__list {
  position: absolute;
  list-style: none;
  width: 100%; }

.navigation__link {
  font-size: 10rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
  text-decoration: none; }
  .navigation__link::before, .navigation__link::after {
    content: attr(data-text);
    position: absolute;
    top: -25px;
    transition: 0.5s;
    color: transparent; }
  .navigation__link:hover::before {
    color: #bb0000;
    z-index: 1;
    -webkit-text-stroke: 1px black;
    transform: translate(10px, -10px); }
  .navigation__link:hover::after {
    color: #77efff;
    z-index: 2;
    -webkit-text-stroke: 1px black;
    transform: translate(20px, -20px); }
  .navigation__link:hover {
    color: white;
    -webkit-text-stroke: 1px black;
    transition: 0.5s; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1; }

.navigation__icon {
  position: relative;
  top: 50px; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 5rem;
    height: 3px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -1.5rem; }
  .navigation__icon::after {
    top: 1.5rem; }

.navigation__button:hover .navigation__icon::before {
  top: -2rem; }

.navigation__button:hover .navigation__icon::after {
  top: 2rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #ff8882;
  height: 110vh;
  position: relative; }
  .section-about__img {
    width: 50%;
    clip-path: circle(44% at 50% 42%);
    margin-left: 30%; }
  .section-about__detail {
    width: 70%;
    text-align: center; }
  .section-about__paragraph {
    margin-left: -3rem;
    margin-right: 14rem; }

.section-skills {
  height: 200vh; }
  .section-skills__detail {
    width: 70%;
    margin: 2rem auto; }
  .section-skills__img {
    width: 8rem;
    height: 9rem;
    margin: 2.5rem 5rem; }
    .section-skills__img--html {
      width: 7.5rem; }
    .section-skills__img--css {
      width: 10rem; }
    .section-skills__img--sass {
      width: 13rem; }
    .section-skills__img--node {
      width: 17rem;
      height: 7rem;
      margin-right: 3rem; }
    .section-skills__img--express {
      width: 20rem;
      height: 8rem;
      margin: 2.5rem 3rem 1.5rem; }
    .section-skills__img--mongodb {
      width: 19rem;
      height: 11rem;
      margin: 2.5rem 3rem 1.5rem; }
    .section-skills__img--firebase {
      width: 15rem;
      height: 12rem;
      margin-right: 0rem;
      margin: 2rem 0rem 2rem 3rem; }
    .section-skills__img--arduino {
      width: 15rem;
      height: 9rem;
      margin-top: 6rem; }
    .section-skills__img--wordpress {
      width: 8.5rem;
      height: 8.5rem;
      margin: 0rem 0rem 3.5rem 5rem; }
    .section-skills__img--github {
      width: 13rem;
      height: 10rem; }
    .section-skills__img--jira {
      width: 18rem;
      height: 10rem;
      border-radius: 10px; }
    .section-skills__img--pwf {
      width: 18rem;
      height: 10rem;
      border-radius: 10px; }

.section-projects {
  background-color: #194350;
  height: 140vh; }
  .section-projects__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }

.section-experience {
  background-color: #ff8882;
  height: 150vh; }
  .section-experience__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around; }

.section-hobby {
  background-color: #3b3636;
  height: 1000px; }
  .section-hobby__container {
    width: 80%;
    height: 550px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    color: black; }
  .section-hobby__imgbox {
    width: 20%;
    position: relative;
    display: inline-block; }
    .section-hobby__imgbox--p5 {
      width: 100%;
      margin-top: 330px; }

.section-contact {
  background-color: #194350;
  height: 1000px; }
  .section-contact__container {
    display: flex;
    width: 80%;
    margin: auto; }
    .section-contact__container--left {
      width: 35%;
      height: 550px;
      background: white;
      margin: auto;
      padding: 1rem 5rem;
      display: inline-block; }
    .section-contact__container--right {
      width: 65%;
      height: 610px;
      background: #ff8882;
      margin: auto;
      display: inline-block;
      position: relative; }
      .section-contact__container--right--form {
        width: 80%;
        height: 90%;
        margin: 4% auto; }
      .section-contact__container--right--input {
        width: 100%;
        height: 5rem;
        border-radius: 2rem;
        border: 3px solid white;
        margin: 0.5rem auto;
        padding: 0 3rem;
        font-size: 1.5rem;
        background-color: #ff8882; }
      .section-contact__container--right--text {
        width: 100%;
        border-radius: 2rem;
        border: 3px solid white;
        margin: 0.5rem auto;
        padding: 3rem;
        font-size: 2rem;
        font-family: "Lato", sans-serif;
        color: white;
        background-color: #ff8882; }

.project-detail {
  height: 2000px;
  background-color: #172e35; }
  .project-detail__menu-box {
    position: fixed;
    top: 18rem;
    right: 5rem;
    width: 5%; }
  .project-detail__ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .project-detail__ul li {
      width: 7rem;
      height: 7rem;
      margin-bottom: 3rem;
      border: 2px solid #f7f7f7;
      border-radius: 50%;
      transition: all 0.5s;
      position: relative; }
      .project-detail__ul li:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f7f7f7;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.5s;
        opacity: 0; }
      .project-detail__ul li:hover:before {
        opacity: 1;
        transform: scale(0.8); }
      .project-detail__ul li:hover i {
        color: #194350; }
      .project-detail__ul li i {
        transition: all 0.5s;
        color: #e8dddd; }
      .project-detail__ul li:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.5s;
        opacity: 0;
        border: 2px dashed #f7f7f7;
        box-sizing: border-box; }
      .project-detail__ul li:hover:after {
        opacity: 1;
        animation: rotating 10s linear infinite; }
  .project-detail__content {
    width: 55%;
    margin: auto; }
  .project-detail__top {
    width: 100%;
    display: block;
    text-align: center; }
    .project-detail__top--title-box {
      width: 100%;
      padding-left: 10rem;
      padding-top: 5rem; }
  .project-detail__right {
    width: 100%;
    display: inline-block;
    margin-top: 0; }
  .project-detail__title--main {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #f7f7f7; }
  .project-detail__title--sub {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    margin-top: 5rem;
    color: #f7f7f7; }
  .project-detail__title--tertiary {
    font-size: 2.5rem; }
  .project-detail__skills-list {
    font-size: 2.5rem;
    color: #df5e5e;
    margin-top: -2rem; }
  .project-detail__text {
    font-size: 2.3rem;
    padding-right: 5rem;
    margin-top: -1.5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    color: #999; }
  .project-detail__function--ul {
    margin-top: -2.7rem; }
  .project-detail__function--li {
    margin-top: -1.7rem;
    font-size: 2.3rem;
    line-height: 5.5rem;
    color: #999; }
  .project-detail__videobox {
    display: block;
    margin-right: 3rem;
    padding-left: 3%;
    color: #f7f7f7; }
  .project-detail__video {
    width: 90%;
    height: 400px;
    margin-top: -2rem;
    margin-bottom: 1.7rem; }
  .project-detail .fa-eye {
    font-size: 3.5rem;
    position: absolute;
    top: 1.6rem;
    left: 1.4rem; }
  .project-detail .fa-github {
    font-size: 3.5rem;
    position: absolute;
    top: 1.6rem;
    left: 1.7rem; }
  .project-detail .fa-file-pdf {
    font-size: 3rem;
    position: absolute;
    top: 1.8rem;
    left: 2.2rem; }
  .project-detail .fa-envelope-open-text {
    font-size: 3rem;
    position: absolute;
    top: 1.8rem;
    left: 1.8rem; }
