.header {
  height: 60vh;
  background-color: $color-primary;
  position: relative;
  text-align: center;

  &__text-box {
    position: absolute;
    width: 100%;
    top: 15%;
    text-align: center;
    font-size: 40px;
  }
}
