// .btn {
//   &--discover {
//     background-color: turquoise;
//     width: 100%;
//     margin-top: 400px;
//   }

//   &--wave {
//     position: absolute;
//     text-align: center;
//     line-height: 500px;
//     font-size: 5rem;
//     font-weight: 900;
//     text-transform: uppercase;

//     &:nth-child(1) {
//       color: transparent;
//       -webkit-text-stroke: 4px $color-primary-light;
//     }
//     &:nth-child(2) {
//       color: #03a9f4;
//       // color: $color-white;
//       animation: wave 2s ease-in-out infinite;
//     }
//   }
// }

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 50px;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background-color: white;
  }

  // &__discover {
  //   width: 20%;
  //   height: 100px;
  //   text-align: center;
  //   font-size: 3rem;
  //   padding-top: 20px;
  // }

  &__about {
    width: 45%;
    height: 50px;
    text-align: center;
    padding-top: 9px;
    margin: 10px;
  }
}
