// .btn {
//   &--discover {
//     background-color: turquoise;
//     width: 100%;
//     margin-top: 400px;
//   }

//   &--wave {
//     position: absolute;
//     text-align: center;
//     line-height: 500px;
//     font-size: 5rem;
//     font-weight: 900;
//     text-transform: uppercase;

//     &:nth-child(1) {
//       color: transparent;
//       -webkit-text-stroke: 4px $color-primary-light;
//     }
//     &:nth-child(2) {
//       color: #03a9f4;
//       // color: $color-white;
//       animation: wave 2s ease-in-out infinite;
//     }
//   }
// }

.btn {
  z-index: 10;

  
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    margin: 3rem 2rem 0;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.8rem;
    border: none;
    cursor: pointer;
    z-index: 10;
    
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    background-color: white;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    background-color: white;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    background-color: white;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
  // &__discover {
  //   width: 20%;
  //   height: 100px;
  //   text-align: center;
  //   font-size: 3rem;
  //   padding-top: 20px;
  // }

  width: 40%;
  height: 50px;
  text-align: center;
  padding-top: 9px;
  // margin: 10px;

  &__about {
    //change it to other button
  }

  &__project {
    width: 100%;
    margin-top: 1rem;
    background-color: pink;
    color: $color-grey-dark;

    &::after {
      background-color: pink;
    }
  }

  &--card {
    width: 6rem;
    height: 6rem;
    background-color: pink;
    border-radius: 50%;
    text-decoration: none;
    padding: 1rem 1rem;
    margin: 1.5rem 0.5rem;
  }

  // &--card-1 {
  //   width: 90%;
  //   font-size: 1.5rem;
  //   text-decoration: none;
  //   padding: 0.5rem 0rem;
  //   margin: 1rem;
  //   color: black;
  //   background-color: pink;
  //   display: block;
  //   border-radius: 25px;
  // }

  &--submit {
    width: 100%;
    height: 4rem;
    text-align: center;
    border-radius: 1.7rem;
    background-color: white;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: 0%;
    padding-bottom: 5px;
  }

  &__clip{
      
    &--1{

    }
    &--2{
      
    }
    &--3{
      display: block;
      width: 15rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 1rem 3rem;
      font-size: 1.7rem;
      border: none;
      border-radius: 25px;


    }
  }
}
