.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 70%;
    // height: 90rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 5px;
    display: table;
    overflow: hidden;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &__left {
    width: 35%;
    display: table-cell;
    padding-left: 10rem;
  }

  &__right {
    width: 58%;
    display: table-cell;
    vertical-align: middle;
    padding: 0rem 0rem 0rem 10rem;
  }

  &__img {
    display: block;
    width: 100%;
    height: 40vh;
  }

  &__skill {
    margin: -2rem 1.5rem;

    &--react {
      width: 10rem;
      height: 10rem;
    }
    &--node {
      width: 13rem;
      height: 10rem;
    }
    &--express {
      width: 14rem;
      height: 9rem;
    }
    &--mongodb {
      width: 15rem;
      height: 10rem;
    }
    &--firebase {
      width: 11.5rem;
      height: 12rem;
    }
    &--oauth {
      width: 10rem;
      height: 10rem;
    }
  }

  &__title {
    &--main {
      font-size: 5rem;
      text-align: center;
      margin-top: -3rem;
    }

    &--sub {
      font-size: 3.5rem;
    }

    &--tertiary {
      font-size: 3rem;
    }
  }

  &__text {
    font-size: 3rem;
    padding-right: 15rem;
    margin-top: -1.5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__function {
    &--ul {
      // list-style-type: none;
    }
    &--li {
      margin-top: -1.5rem;
      font-size: 2.5rem;
      line-height: 5.5rem;
    }
  }
  // &__text {
  //   font-size: 2rem;
  //   margin-bottom: 4rem;

  //   column-count: 2;
  //   column-gap: 4rem;
  //   column-rule: 1px solid $color-grey-dark;

  //   -moz-hyphens: auto;
  //   -ms-hyphens: auto;
  //   -webkit-hyphens: auto;
  //   hyphens: auto;
  // }

  &__videobox {
    display: inline-block;
    margin-right: 3rem;
  }

  &__video {
    width: 600px;
    height: 350px;
    margin-top: -2rem;
  }

  &__btnbox {
    width: 50%;
    margin: 150px auto;

    &--btn {
      display: block;
      font-size: 3rem;
      text-decoration: none;
      background-color: rgb(131, 212, 216);
      border-radius: 30px;
      text-align: center;
      margin: 3rem;
      padding: 10px;
    }
  }
}
