body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

a:link, a:hover, a:visited {
  color:$color-primary;
  text-decoration: none;
}



.heading-primary {
  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 800;
    letter-spacing: 1rem;
    color: $color-secondary-dark;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    // @include respond(phone) {
    //   letter-spacing: 1rem;
    //   font-family: 5rem;
    // }
  }

  &--sub {
    color: $color-white;
    display: block;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out;
    margin-top: 3rem;

    // @include respond(phone) {
    //   letter-spacing: 0.5rem;
    // }
  }
}

.heading-secondary {
  font-size: 5rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.5rem;
  color: $color-primary;

  // @include respond(tab-port) {
  //   font-size: 3rem;
  // }

  // @include respond(phone) {
  //   font-size: 2.5rem;
  // }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-about {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: $color-primary;
}

.heading-skills {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: $color-primary;
  text-align: center;
}

.heading-tools {
  margin-top: 3rem;
  margin-bottom: 5rem;
  color: $color-primary;
}

.heading-projects {
  margin-top: 10rem;
  margin-bottom: 13rem;
  color: $color-white;
}

.paragraph {
  font-size: $p-font-size;
  color: $color-primary;
  text-transform: none;

  &:not(:last-child) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &--contact {
    font-size: 1.8rem;

  }
  
}

.span {
  &--contact {
    margin-left: 1rem;
  }
}
.emphasis {
  color: $color-grey-light-2;
}

.skill-stack-list {
  font-size: 30px;
  color: #df5e5e;
  margin: 0px;
}

.heading-experience {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: $color-primary;
}

.heading-hobby {
  margin-top: 10rem;
  margin-bottom: 3rem;
  color: $color-primary;
}

.heading-contact {
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: $color-white;
}

.contact__title {
  font-size: 2.5rem;
  margin: 2.3rem 0rem 1rem;
  

  &--left {
    color: $color-secondary-dark;
    
  }

  &--right {
    color: $color-white;
    font-size: 3rem;
  }
}

.contact__icon {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;

  &--social {
    margin: 0 1rem;
    width: 3.5rem;
    height: 3.5rem;
  }
}

// Input Placeholder font color

::-webkit-input-placeholder { 
  // color: $color-primary-dark;
  color: white;
}
::-moz-placeholder { 
  color: white;
}
:-ms-input-placeholder { 
  color: white;
}
:-moz-placeholder { 
  color: white;
}
