.section-about {
  background-color: $color-secondary-dark;
  // margin-top: -15vh;
  // height: 1200px;
  height: 110vh;
  position: relative;

  &__img {
    width: 50%;
    clip-path: circle(44% at 50% 42%);
    
    margin-left: 30%;
  }
  // @include respond(tab-port) {
  //     padding: 20rem 0;
  // }

  &__detail {
    width: 70%;
    text-align: center;
    // margin-left: -10rem;
    // margin-right: 7rem;
  }

  &__paragraph {
    margin-left: -3rem;
    margin-right: 14rem;
  }
}

.section-skills {

  height: 200vh;
  
  &__detail {
    width: 70%;
    margin: 2rem auto;
  }

  &__img {
    width: 8rem;
    height: 9rem;
    margin: 2.5rem 5rem;

    &--html {
      width: 7.5rem;
    }

    &--css {
      width: 10rem;
    }

    &--sass {
      width: 13rem;
    }

    &--node {
      width: 17rem;
      height: 7rem;
      margin-right: 3rem;
    }

    &--express {
      width: 20rem;
      height: 8rem;
      margin: 2.5rem 3rem 1.5rem;
    }

    &--mongodb {
      width: 19rem;
      height: 11rem;
      margin: 2.5rem 3rem 1.5rem;
    }

    &--firebase {
      width: 15rem;
      height: 12rem;
      margin-right: 0rem;
      margin: 2rem 0rem 2rem 3rem;
    }

    &--arduino {
      width: 15rem;
      height: 9rem;
      margin-top: 6rem;
    }

    &--github {
      width: 13rem;
      height: 10rem;
      
    }

    &--jira {
      width: 18rem;
      height: 10rem;
      border-radius: 10px;
    }

    &--pwf {
      width: 18rem;
      height: 10rem;
      border-radius: 10px;
    }
  }
}

.section-projects {
  
  background-color: $color-primary;
  height: 140vh;
  // padding: 25rem 0 50 0;

  &__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}

.section-experience {
  background-color: $color-secondary-dark;
  height: 150vh;

  &__container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
}

.section-hobby {
  
  background-color: $color-white;
  height: 1000px;
  // padding: 25rem 0 50 0;

  &__container {
    width: 80%;
    height: 500px;
    background-color:white;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    color: black;
  }

  &__imgbox {

    width: 20%;
    position: relative;
    display: inline-block;
    &--p5 {
      width: 100%;
      margin-top: 330px;
    }
  }

  
}

.section-contact {
  
  background-color: $color-primary;
  height: 1000px;
  // padding: 25rem 0 50 0;

  &__container {
    display: flex;
    width: 80%;
    margin: auto;
    

    &--left {
      width: 35%;
      height:550px;
      background: white;
      margin: auto;
      padding: 1rem 5rem;
      display:inline-block;
      // position: relative;
      // transform: translateX(90%);
      
      // &:hover {
      //   transform: translateX(0);
      // }
    }
    &--right {
      width: 65%;
      height:610px;
      background: $color-secondary-dark;
      margin: auto;
      display:inline-block;
      position: relative;
      
      // transition: 3s;
      // transform: translateX(-25%);

      // &:hover {
      //   transform: translateX(0);
      // }

      &--form {
        width: 80%;
        height: 90%;
        // background-color: rgba(255, 255, 255, 0.728);
        margin: 4% auto;
      }

      &--input {
        width: 100%;
        height: 5rem;
        border-radius: 2rem;
        border: 3px solid white;
        margin: 0.5rem auto;
        padding: 0 3rem;
        font-size: 1.5rem;
        background-color: $color-secondary-dark;
      }

      &--text {
        width: 100%;
        border-radius: 2rem;
        border: 3px solid white;
        margin: 0.5rem auto;
        padding: 3rem;
        font-size: 2rem;
        font-family: "Lato", sans-serif;
        color: white;
        background-color: $color-secondary-dark;
      }
    }
  }
}
