.project-detail {
  height: 2000px;

  &__menu-box {
    position: fixed;
    top: 18rem;
    right: 5rem;
    width: 5%;
  }

  &__ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      width: 7rem;
      height: 7rem;
      margin-bottom: 3rem;
      border: 2px solid $color-primary;
      border-radius: 50%;
      transition: all 0.5s;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-primary;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.5s;
        opacity: 0;
      }

      &:hover:before {
        opacity: 1;
        transform: scale(0.8);
      }

      &:hover i {
        color: white;
      }

      i {
        transition: all 0.5s;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 50%;
        z-index: -1;
        transition: all 0.5s;
        opacity: 0;
        border: 2px dashed $color-primary;
        box-sizing: border-box;
      }

      &:hover:after {
        opacity: 1;
        animation: rotating 10s linear infinite;
      }
    }
  }

  &__content {
    width: 55%;
    margin: auto;
  }

  &__top {
    width: 100%;
    display: block;
    text-align: center;

    &--title-box {
      width: 100%;
      padding-left: 10rem;
      margin-top: 5rem;
    }
  }

  &__right {
    width: 100%;
    display: inline-block;
    margin-top: 0;
  }

  &__title {
    &--main {
      font-size: 5rem;
      margin-bottom: 2rem;
    }

    &--sub {
      font-size: 3rem;
      margin-bottom: 2.5rem;
      margin-top: 5rem;
    }

    &--tertiary {
      font-size: 2.5rem;
    }
  }

  &__skills-list {
    font-size: 2.5rem;
    color: #df5e5e;
    margin-top: -2rem;
  }

  &__text {
    font-size: 2.3rem;
    padding-right: 5rem;
    margin-top: -1.5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__function {
    &--ul {
      margin-top: -2.7rem;
    }
    &--li {
      margin-top: -1.7rem;
      font-size: 2.3rem;
      line-height: 5.5rem;
    }
  }

  &__videobox {
    display: block;
    margin-right: 3rem;
    padding-left: 3%;
  }

  &__video {
    width: 90%;
    height: 400px;
    margin-top: -2rem;
    margin-bottom: 1.7rem;
  }

  .fa-eye {
    font-size: 3.5rem;
    position: absolute;
    top: 1.6rem;
    left: 1.4rem;
  }
  .fa-github {
    font-size: 3.5rem;
    position: absolute;
    top: 1.6rem;
    left: 1.7rem;
  }

  .fa-file-pdf {
    font-size: 3rem;
    position: absolute;
    top: 1.8rem;
    left: 2.2rem;
  }

  .fa-envelope-open-text {
    font-size: 3rem;
    position: absolute;
    top: 1.8rem;
    left: 1.8rem;
  }
}
