.project-detail {
  // height: 100vh;
  // width: 70%;
  // position: relative;
  

  &__content {
    @include absCenter;
    width: 80%;
    display: table;
    margin-top: 15rem;
  }

  &__top {
    width: 80%;
    display: block;

    &--title-box {
      width: 50%;
      display: inline;
      text-align: left;
      padding-left: 10rem;
    }

    
  }

  &__menu-box {
    position: fixed;
    top: 10rem;
    right: 10rem;

    width: 5%;
    display: block;
    position: fix;
    
    position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  }

  // &__left {
  //   width: 0%;
  //   display: table-cell;
  //   padding-left: 10rem;
  // }

  &__left {
    width: 55%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10rem;
    // overflow: scroll;
  }

  &__right {
    width: 45%;
    display: table-cell;
    vertical-align: middle;
    // padding: 0rem 0rem 0rem 10rem;
    // overflow: scroll;
  }

  &__img {
    display: block;
    width: 100%;
    height: 40vh;
  }

  &__title {
    &--main {
      font-size: 3rem;
      display: inline-block;
      margin-top: 0px;
    }

    &--sub {
      font-size: 2.5rem;
      margin-bottom: 2.5rem;
      margin-top: 0px;
    }

    &--tertiary {
      font-size: 3rem;
    }
  }

  &__skills-list {
    font-size: 2rem;
    color: #df5e5e;
    margin-top: -2rem;
  }

  &__text {
    font-size: 2rem;
    padding-right: 5rem;
    margin-top: -1.5rem;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__function {
    &--ul {
      // list-style-type: none;
    }
    &--li {
      margin-top: -1.5rem;
      font-size: 2.5rem;
      line-height: 5.5rem;
    }
  }
  // &__text {
  //   font-size: 2rem;
  //   margin-bottom: 4rem;

  //   column-count: 2;
  //   column-gap: 4rem;
  //   column-rule: 1px solid $color-grey-dark;

  //   -moz-hyphens: auto;
  //   -ms-hyphens: auto;
  //   -webkit-hyphens: auto;
  //   hyphens: auto;
  // }

  &__videobox {
    display: inline-block;
    margin-right: 3rem;
  }

  &__video {
    width: 400px;
    height: 200px;
    margin-top: -2rem;
  }

  &__btn {
    font-size: 2rem;
    text-decoration: none;
    background-color: rgb(131, 212, 216);
    border-radius: 30px;
    // text-align: center;
    margin: 1rem;
    padding: 1rem 4rem;
  }
}

// .temp-hidden {
//   display: none;
// }

